<div class="header header-inverse" id="myTopnav">
  <a href="www.stjosephstechnology.ac.in" class="logo"><img src="../assets/Media/sjitLogo.png" width="60px" height="60px"></a>
  <div class="header-right" id="myTopContent">
    <a routerLink="/">Home</a>
    <!-- <a routueLink="/">Proile</a> -->
    <a routerLink="/marks">Marks</a>
    <!-- <a routueLink="/">Notes</a>
    <a routueLink="/">Fee</a>
    <a routueLink="/">Forms</a> -->
  </div>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="onBtnClick()">&#9776;</a>
</div>
