<app-atten_header></app-atten_header>

<br><br>

<div class="container" style="width: 800px;">
        <div class=" box-padding" >
          <mat-card style="padding-top:30px ;" class="box-shadows">
              <mat-card-title class="text-center" style="font-size: 28px;">Outpass</mat-card-title>
  <mat-card-content style="padding-top:2rem ;">
<form class="example-form">
    <mat-form-field class="example-full-width"  appearance="fill" color="accent" style="width:740px !important; padding-top :20px">
      <mat-label>Roll No:</mat-label>
      <input matInput placeholder="Roll No" >
    </mat-form-field>
</form>

<div style="padding-top :20px">
    <button mat-raised-button color="accent" (click)="onclick()" class="mx-auto d-block" type="submit">Submit</button>
   </div>
   
   <br>
</mat-card-content>

</mat-card>
</div>


</div>  

<br><br><br><br><br><br>

<app-atten_footer></app-atten_footer>