<app-headercomp></app-headercomp> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 box-padding">
            <mat-card style="padding-top:30px ; height: 450px;" class="box-shadows">
                <mat-card-title class="text-center">View Marks</mat-card-title>
                <hr>
                <mat-card-content style="padding-top:2rem ;">
                    <form class="example-container" >  <!-- [formGroup]="options"   [style.fontSize.px]="12"--> 
                       <p>
                        <mat-form-field appearance="fill" color="accent" style="width:400px !important ; padding-top :20px ">
                            <mat-label>SEM :</mat-label>
                            <mat-select >  <!-- [formControl]="colorControl" -->
                              <mat-option value="primary">Primary</mat-option>
                              <mat-option value="accent">Accent</mat-option>
                              <mat-option value="warn">Warn</mat-option>
                            </mat-select>
                          </mat-form-field>
                       </p>
                       
                       <p>
                        <mat-form-field appearance="fill" color="accent" style="width:400px !important; padding-top :20px">
                            <mat-label>Exam :</mat-label>
                            <mat-select >  <!-- [formControl]="colorControl" -->
                              <mat-option value="primary">Primary</mat-option>
                              <mat-option value="accent">Accent</mat-option>
                              <mat-option value="warn">Warn</mat-option>
                            </mat-select>
                          </mat-form-field>
                       </p>
                       <div style="padding-top :20px">
                        <button mat-raised-button color="accent" type="submit">Submit</button>
                       </div>
                       
                      </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>  