<!-- 
<footer class="page-footer font-small blue-grey lighten-5" style="background-color: #24e2a0;">

    <div >
      <div class="container">
  

        <div class="row py-4 d-flex align-items-center">
  

          <div class="col-md-6 col-lg-5 text-center text-md-left text-center text-md-right">
            <h6 class="mb-0 "></h6>
          </div>
       </div>
  
      </div>
    </div>
  

    <div class="container text-right text-md-right mt-5">
  
     <div class="row mt-3 dark-grey-text">
  
        
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="float: left;">
  
      
          <h6 class="text-uppercase font-weight-bold">Powered By St Joseph's</h6>
          <br>
          <br>
  
        </div>
       
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  

          <h6 class="text-uppercase font-weight-bold">Credits</h6>
          
        </div>
       
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
    
          <h6 class="text-uppercase font-weight-bold">Contact</h6>  
        </div>
  
  
      </div>

  
    </div>
  
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 All Rights Reserved
    </div>
 
  
  </footer>
  -->

  <footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #24e2a0;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex ">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5  mb-4 mb-md-0">
            <h6 class="mb-0">Powered by St Joseph's</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left mt-5" style="background-color: black;">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color: white;">St Joseps's Institute of Technology</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p  style="color: white;">
            All Rights Reserved </p>
          
  
        </div>
      
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
         
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
        
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold"  style="color: white;">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
         
          <p  style="color: white;">
            <i class="fas fa-envelope mr-3"></i> portal@stjosephstechnology.ac.in</p>
            
          
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
  </footer>